<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>{{ title }}</title>
<link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body class="markdown">
<h1>{{ path }}</h1>

{% if header is defined %}
<blockquote><p>{{ header | safe }}</p></blockquote>
{% endif %}
<ul id="list">
{% for name in things %}
<li><a href="{{ path }}{{ name }}">{{ name }}</a></li>
{% endfor %}
</ul>
</body>
</html>
